language: cpp

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - cmake
    - cmake-data
    - gcc-6
    - g++-6
    - libx11-dev
    - libxrandr-dev
    - libxinerama-dev
    - libxxf86vm-dev
    - libxcursor-dev
    - x11proto-kb-dev
    - libsdl2-dev
	- libglm-dev

compiler:
  - gcc
  - clang

before_script:
  - mkdir build
  - cd build
  - cmake ..

script: make
